button.play-btn {
    position: absolute;     
    background-color: #F58923;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    width: 50px;
}
  
  button.play-btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
button.play-btn::after {
    content: "";
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
}
  button.play-btn.rightTriangle::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}